<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.show"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET"/>
    
    
    <instrumentation 
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.show"
        ></instrumentation>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
		<!-- 内容提供者 -->        
        <provider 
            android:name="com.example.show.provider.SymbolsProvider"
            android:authorities="com.example.show.provider.SymbolsProvider"
            ></provider>

        <provider 
            android:name="com.example.show.provider.StockDailyPriceProvider"
            android:authorities="com.example.show.provider.StockDailyPriceProvider"
            ></provider>
        

        <!-- 服务 -->
        <service android:name="com.example.show.service.StockObtainService"></service>
       
    </application>

</manifest>
